.inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;

  z-index: 1;
}
.foto {
  width: 300px;
  height: 300px;
  border-radius: 180px;
}
.saludo_1 {
  color: #fff;
  text-align: center;
  font-size: xx-large;
  line-height: 55px;
}
@media (max-width: 425px) {
  .inicio {
    margin-top: 80px;
  }
  .foto {
    width: 200px;
    height: 200px;
  }
  .saludo_1 {
    text-align: center;
    font-size: 25px;
    margin: 30px 30px -50px 30px;
  }
}
