#luna-container {
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 0;
  width: 400px;
  height: 400px;
}

#luna-container canvas {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.4));
}

/* Vista móvil */
@media (max-width: 425px) {
  #luna-container {
    width: 180px;
    height: 180px;
    top: -7%;
    left: -5%;
    bottom: auto;
    right: auto;
  }
}
